<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1>
    <p>Contact page www.facebook.com</p>
  </body>
</html>
